<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>
        This is the Home Page
    </h1>
    <div>
        <h2>
            I will play with some code hear
        </h2>
        <span>
            <div>
                <a href={{ url_for('temp') }}>Back</a>
            </div>
            <center>

            
            <div>
               
                    <br>
                    The Stock Name is {{ stock }}
                    <br>
                    The Start Date is {{ start_date }}
                    <br>
                    The End Date is {{ end_date }}
                    <br>
                    <br>
                    <b>
                        {{profile}}
                    </b>


                </center>  


                </div>
            </div>
        </span>

</body>
</html>